/*<nav class="navbar navbar-light bg-light" id="nav-css">*/

.section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  z-index: 1;
  background: rgba(255, 255, 255, 0.678);
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 30px;
  width: 780px;
  border-radius: 10px;
}
.vids {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

h1 {
  text-transform: capitalize;
  font-size: 34px;
  letter-spacing: 1px;
}

p {
  margin-bottom: 5px;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.514);
}

.navbar-css {
  border-left: auto;
  border-right: auto;
  display: inline;
}

.navbar {
  margin-top: 10px;
  border-radius: 7px;
}

#button {
  color: black;
  border-color: black;
}
#button:hover {
  color: white;
  background-color: black;
  border-color: white;
}

#current-location {
  margin-left: 10px;
  color: rgb(1, 88, 158);
  border-color: rgb(1, 88, 158);
}
#current-location:hover {
  color: white;
  background-color: rgb(1, 88, 158);
  border-color: white;
}

.card1 {
  font-size: 22px;
  border: none;
}

.mainTemp {
  margin-bottom: 0;
}
.maintemp {
  font-size: 75px;
}

.maindegrees {
  font-size: 24px;
  position: relative;
  text-align: center;
  vertical-align: top;
  top: 15px;
}

.descriptive {
  display: inline-block;
  padding-top: 5px;
  font-size: 23px;
  padding-left: 15px;
  padding-right: 15px;
}
.descriptives {
  text-align: center;
}

.weatherDes {
  display: inline;
  font-size: 23px;
  font-style: italic, bold;
  text-transform: capitalize;
  font-family: sans-serif;
  text-align: center;
}

#todays-date {
  padding-bottom: 0;
  margin-bottom: 0;
}
.today {
  font-size: 25px;
  text-align: center;
}
#icon {
  padding-top: -10px;
  line-height: 60px;
  padding-left: 0;
}

#two-temps {
  margin-top: 20px;
  color: dimgrey;
  font-size: 23px;
  padding-left: 10px;
  text-align: center;
}
#pre-wind {
  padding-left: 80px;
  padding-top: 10px;
}
#more {
  text-align: right;
  padding-top: 28px;
  font-size: 18px;
  font-style: italic;
  color: rgb(155, 153, 153);
}
.small-temps {
  text-align: center;
  font-size: 20px;
}
.col {
  padding-left: 6px;
  padding-right: 6px;
}
.card-body {
  padding: 10px;
}
.card {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.514);
}
.small-t-emoji {
  font-size: 50px;
}
.daytemp {
  font-size: 22px;
}

.nighttemp {
  color: dimgrey;
}
.day {
  font-size: 18px;
}

footer {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

.forecast {
  text-align: center;
}
.icon {
  width: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
